
body{
background-color: #e11364;
color: #ffffff;
font-family: Arial, Helvetica, sans-serif;
}

main{
    background-color: #bc105c;
    margin-left:  100px;
    margin-right: 100px;
    
    
}

header{
    text-align: center;
    background-color: #bc105c;
    margin-left: 100px;
    margin-right: 100px;
    border-left: solid 5px #ffffff;
    border-right: solid 5px #ffffff;


}


h1 {
font-size: 50px;
margin-left: -100px;
padding-top: 18px;
padding-bottom: 18px;
}

h2{
    margin-left: 20px;
    padding-top: 20px;
}

h3{
    text-align: right;
    color: #9c0037;
    border-bottom: dotted;
    
}


.Articulo-1{

 background-color: #ffffff;
 margin-left: 10px;
 margin-right: 10px;
 margin-bottom: 27px;
 padding: 10px;
 border-radius:  5px;
 color: black;

}

.imagenes{
   width: 100%;



}

footer {
    background-color: #e86193;
    margin-left:  100px;
    margin-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

div {
    display: flex;
    justify-content: center;
}

a {
    background-color: green;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    border: 10px;
    font-weight: bold;
}

a:link{
    color: #ffffff;
    text-decoration: none;
}
a:visited {
    color: #ffffff;
}
a:hover {
    background-color: #e11364;
}